<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
</style>
</head>
<body>	<ul>
  <li><a class="active" href="#home">Home</a></li>
  <li><a href="{{ url_for('leagues') }}">Leagues</a></li>
  <li><a href="{{ url_for('games') }}">Games</a></li>
  <li><a href="{{ url_for('aboutme') }}">About</a></li>
  <li><a href="{{ url_for('signin') }}">logout..</a></li>

</ul>	
{% if games==nul %}
	<p>there are no games at the meantime.</p>
{% else %}
	{% for game in games %}
		<p>{{game.team}}</p>
		the game starts at 6
		{%endfor %}
	{%e endif %}	
</body>
</html>